<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> APROBACION DE PAGOS </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">

            <div class="row" style="margin-top: -10px;">

                <div class="col-md-2">
                    <label for=""> Doc Identidad</label>
                    <select class="form-control comboBox" formControlName="docIdentidad">
                        <option value="0"> [ -- TODOS -- ]</option>
                        <option [value]="item.id_DocIdentidad" *ngFor="let item of documentosIdentidades">{{item.descripcionDocumento}}</option> 
                    </select>
                </div>

                <div class="col-md-2">
                    <label for=""> Tipo Documento </label>
                    <select class="form-control comboBox" formControlName="tipoDocumento">
                        <option value="0"> [ -- TODOS -- ]</option>
                        <option [value]="item.id_tipoDoc" *ngFor="let item of tiposDocumentos">{{item.descripcionTipoDocumento}}</option> 
                    </select>
                </div>

                <div class="col-md-2">
                    <label for=""> Centro Costo</label>
                    <select class="form-control comboBox" formControlName="centroCosto">
                            <option value="0"> [ -- TODOS -- ]</option>
                            <option [value]="item.codigo" *ngFor="let item of centroCostro">{{item.descripcion}}</option> 
                    </select>
                </div>

                <div class="col-md-2">
                    <label for=""> Moneda</label>
                    <select class="form-control comboBox" formControlName="moneda">
                        <option value="0"> [ -- TODOS -- ]</option>
                        <option [value]="item.id_moneda" *ngFor="let item of monedas">{{item.descripcionMoneda}}</option> 
                    </select>
                </div>

                <div class=" col-md-2">
                    <label> Fecha Corte </label>
                    <br>
                    <input class="form-control" #datepickerYMD="bsDatepicker" formControlName="fechaCorte" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                </div>
                <div class="col-md-2">
                    <label for=""> Estado</label>
                    <select class="form-control comboBox" formControlName="Estado" (change)="changeEstado($event.target.value)">
                        <option [value]="item.Pub_Esta_Codigo" *ngFor="let item of estados">{{item.Pub_Esta_Nombre}}</option> 
                    </select>
                </div>
            </div>

            <div class="row">

                <div class=" col-6 col-md-2 col-lg-2">
                    <div class="custom-control custom-checkbox custom-control-inline mt-4  ">
                        <input type="checkbox" [id]="9999" formControlName="facturaCancelada" class="custom-control-input">
                        <label class="custom-control-label" [for]="9999" style="color:red !important"> FACTURA CANCELADA </label>
                    </div>
                </div>

                <div class="col-6 col-md-2 col-lg-2 ">
                    <div class="custom-control custom-checkbox custom-control-inline mt-4  ">
                        <input type="checkbox" [id]="99999" formControlName="docVencido" class="custom-control-input">
                        <label class="custom-control-label" [for]="99999" style="color:blueviolet !important"> SÓLO VENCIDOS </label>
                    </div>
                </div>
                <div class="col-md-8 text-left mt-3">
                    <button class="btn btn-primary ml-2 " (click)="mostrarInformacion()" style="font-size: 13px;">  <i class="fas fa-search"> Mostrar</i> </button>
                    <button class="btn btn-dark ml-2 " style="font-size: 13px;" (click)="descargarDetalle_grilla()">  <i class="fas fa-file-download"> Descargar Grilla</i> </button>

                    <button class="btn btn-info ml-2 " *ngIf="formParamsFiltro.value.Estado == 0 " (click)="actualizandoFlag_pago(1)" style="font-size: 13px;">  <i class="fas fa-file-download"> 1. Generar Detalle Macro </i> </button>
                    <button class="btn btn-success ml-1" *ngIf="formParamsFiltro.value.Estado == 1 " style="font-size: 13px;" (click)="actualizandoFlag_pago(2)">  <i class="fas fa-vote-yea"> </i>  2. Aprobar lo marcado </button>
                    <button class="btn btn-warning ml-2 " *ngIf="formParamsFiltro.value.Estado == 2 ||  formParamsFiltro.value.Estado == 3" (click)="exportar_detalleMacro()" style="font-size: 13px;">  <i class="fas fa-file-download"> 3. Exportar Detalle Macro </i> </button>
                    <button class="btn btn-danger ml-2 " *ngIf="formParamsFiltro.value.Estado == 1 ||  formParamsFiltro.value.Estado == 2" (click)="actualizandoFlag_pago(4)" style="font-size: 13px;">  <i class="fas fa-file-download"> 4. Devolver lo marcado </i> </button>

                </div>

            </div>



        </form>
        <hr>

        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" [id]="99" [(ngModel)]="checkeadoAll" (click)="marcarTodos()" class="custom-control-input">
                    <label class="custom-control-label" [for]="99"> Marcar Todo </label>
                </div>
            </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarCab">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style=" height: 40px !important; text-align: center;">
                        <th scope="col">check</th>

                        <th scope="col"> Vencidos </th>
                        <th scope="col"> Por vencer </th>
                        <th scope="col">Fecha Vencimiento</th>

                        <th scope="col">Tipo Doc Identidad</th>
                        <th scope="col">Nro Doc Identidad</th>
                        <th scope="col"> Proveedor </th>
                        <th scope="col">Factura Cancelada</th>
                        <th scope="col">Tipo Documento</th>
                        <th scope="col">Nro Documento</th>

                        <th class="text-center"> Importe </th>
                        <th class="text-center"> % DETRACCION </th>
                        <th class="text-center"> TOTAL DETRACCION</th>

                        <th class="text-center"> Total Pagar </th>



                        <th scope="col"> Tipo Abono</th>
                        <th> Tipo Cuenta</th>
                        <th> Moneda </th>
                        <th class="text-center"> Monto de Abono</th>

                        <th scope="col">usuario aprobador 1</th>
                        <th scope="col">fecha aprobacion 1</th>

                        <th scope="col">usuario aprobador 2</th>
                        <th scope="col">fecha aprobacion 2</th>

                        <th scope="col">usuario devuelve</th>
                        <th scope="col">fecha devuelve</th>

                        <th scope="col"> cuentas contables </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of documentosCab |  filter: filtrarCab  ; index as j">
                        <th scope="row">
                            <div class="custom-control custom-checkbox custom-control-inline ">
                                <input type="checkbox" [id]="item.idDocumentoCab" [(ngModel)]="item.checkeado" class="custom-control-input">
                                <label class="custom-control-label" [for]="item.idDocumentoCab"> </label>
                            </div>
                        </th>

                        <td>{{item.vencidos}} </td>
                        <td>{{item.porVencer}} </td>
                        <td>{{item.fechaVencimiento}} </td>
                        <td>{{item.docIdentidad}} </td>
                        <td>{{item.nroDocumentoIdentidad}} </td>
                        <td>
                            <div style="width: 350px;">
                                {{item.proveedor}}
                            </div>
                        </td>
                        <td>{{item.facturaCancelada}} </td>
                        <td>{{item.tipoDocumento}} </td>
                        <td>{{item.nroDocumento}} </td>
                        <td class="text-right">{{item.importe | number:'1.2-2' }} </td>

                        <td class="text-right">{{item.impDescuento | number:'1.2-2' }} </td>
                        <td class="text-right">{{item.totDetraccion | number:'1.2-2' }} </td>
                        <td class="text-right">{{item.totalPagar | number:'1.2-2' }} </td>


                        <td>{{item.tipoAbono}} </td>
                        <td>{{item.tipoCuenta}} </td>
                        <td class="text-center">{{item.moneda}} </td>
                        <td class="text-right">{{item.montoAbono | number:'1.2-2'}} </td>

                        <td>{{item.usuarioAprobador1}} </td>
                        <td>{{item.fechaAprobacion1}} </td>

                        <td>{{item.usuarioAprobador2}} </td>
                        <td>{{item.fechaAprobacion2}} </td>

                        <td>{{item.usuarioDevuelve}} </td>
                        <td>{{item.fechaDevuelve}} </td>
                        <td class="text-center">
                            <span class="badge badge-warning puntero" style="padding: 5px;" (click)="abrir_modalCuentasContables(item)">  Editar </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



<div class="modal fade " id="modal_cuentasContables" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered " role="document">
        <div class="modal-content" style="border: solid red;">
            <div class="p-3 card ">
                <div class="d-flex justify-content-between flotante">
                    <div class=" bd-highlight">
                        <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_cuentaContables()">  </i>
                    </div>
                    <div class=" bd-highlight">
                        <h5 class="headerTitleModal"> CUENTAS CONTABLES </h5>
                    </div>
                    <div class=" bd-highlight">
                        <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_cuentaContables()">  </i>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <fieldset class="shadow">
                    <legend style="width: 95%;"> REGISTRO DE CUENTAS CONTABLES </legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">
                            <form [formGroup]="formParamsContabilidad">
                                <div class="row" style="margin-top: -15px;">
                                    <div class="col-md-4">
                                        <label> Importe Asignado </label>
                                        <input type="text" (keypress)="keyPress($event)" class="form-control " formControlName='importeDocumento'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Glosa </label>
                                        <input type="text" class="form-control  " formControlName='Glosa'>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-lg-3 ">
                                        <label> Cuenta Gastos </label> <i class=" ml-2 puntero fa fa-plus-circle" style="color: red;" (click)="abrir_modalAgregarCuentaContable('GASTOS')"> </i>
                                        <select class="form-control comboBox" formControlName="CtaGastos">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.idCuenta" *ngFor="let item of cuentaContableGastos">{{item.descripcionCuenta}}</option> 
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 ">
                                        <label> Cuenta IGV </label> <i class=" ml-2 puntero fa fa-plus-circle" style="color: green;" (click)="abrir_modalAgregarCuentaContable('IGV')"> </i>
                                        <select class="form-control comboBox" formControlName="CtaIGV">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.Id_GrupoDetalle" *ngFor="let item of cuentaContableIGV">{{item.codigo_detalleTabla}}</option> 
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 ">
                                        <label> Cuenta Pagar </label> <i class=" ml-2 puntero fa fa-plus-circle" style="color: blue;" (click)="abrir_modalAgregarCuentaContable('PAGAR')"> </i>
                                        <select class="form-control comboBox" formControlName="CtaxPagar">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.Id_GrupoDetalle" *ngFor="let item of cuentaContablePagar">{{item.codigo_detalleTabla}}</option> 
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 ">
                                        <label> Cuenta Detracción </label> <i class=" ml-2 puntero fa fa-plus-circle" style="color: #ffc107;" (click)="abrir_modalAgregarCuentaContable('DETRACCION')"> </i>
                                        <select class="form-control comboBox" formControlName="CtaDetraccion">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.Id_GrupoDetalle" *ngFor="let item of cuentaContableDetraccion">{{item.codigo_detalleTabla}}</option> 
                                        </select>
                                    </div>
                                </div>

                            </form>

                            <div class="row">
                                <div class="col-md-12 text-center mt-2">
                                    <button class="btn btn-sm btn-success" (click)="almacenarCuentasContables()">  <i class="fas fa-save"> Grabar</i> </button>
                                    <button class="btn btn-sm btn-warning ml-2" (click)="blank_DetalleCuentasContables()">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                                </div>
                            </div>
                            <hr>

                            <div class=" table-responsive">
                                <table class="table table-hover table-bordered table-sm">
                                    <thead class="theadTableModal">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Total Asignado</th>
                                            <th scope="col">Cta Gastos</th>
                                            <th scope="col">Cta Igv</th>
                                            <th scope="col">Cta x Pagar</th>
                                            <th scope="col">Glosa</th>
                                            <th scope="col">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of  detalleCuentaContables; index as i">
                                            <th scope="row"> {{i + 1}} </th>
                                            <td class="text-right">{{item.importeDocumento | number:'1.2-2' }}</td>
                                            <td>{{item.CtaGastos}}</td>
                                            <td>{{item.CtaIGV}}</td>
                                            <td>{{item.CtaxPagar}}</td>
                                            <td>
                                                <div style="width: 450px;">
                                                    {{item.Glosa}}
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span class="badge badge-primary puntero" style="padding: 5px;" (click)="modificarRegistroCuentaContable(item)">  Editar </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>

</div>



<div class="modal fade " id="modal_agregar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered " role="document">
        <div class="modal-content" style="border: solid red;">
            <div class="modal-header">
                <h5 class="headerTitleModal_Secundario"> AGREGANDO NUEVA CUENTA CONTABLE </h5>
                <button type="button" class="close" (click)="cerrarModal_agregarCuentaContable()">  <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <fieldset class="shadow">
                    <legend style="width: 80%;"> Cuenta Contable - {{tipoCuentaContable}} </legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">

                            <form [formGroup]="formParamsAgregar">
                                <div class="row">
                                    <div class="col-md-8 mt-1">
                                        <input type="text" class="form-control  " (keypress)="keyPress2($event)" formControlName='valorCuentaContable'>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 mt-1">
                                        <button class="btn btn-info btn-sm btn-block" title="guardar" (click)="guardarCuentaContable()">   <i class="fas fa-save"> </i>  Guardar </button>
                                    </div>
                                </div>
                                <br>
                            </form>


                        </div>
                    </div>
                </fieldset>

            </div>

        </div>
    </div>

</div>