<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> APROBACION DE LIQUIDACION CAJA CHICA </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">
            <div class="row" style="margin-top: -10px;">

                <div class="col-md-3 ">
                    <label for=""> Centro Costo</label>
                    <select class="form-control comboBox" formControlName="idCentroCostro">
                            <option value="0"> [ -- TODOS -- ]</option>
                            <option [value]="item.codigo" *ngFor="let item of centroCostro">{{item.descripcion}}</option> 
                        </select>
                </div>

                <div class="col-md-3 ">
                    <label class="control-label"> Rango Fechas </label>
                    <div class="input-group">
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                        <span class="input-group-addon">-</span>
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>
                </div>

                <div class="col-md-3 ">
                    <label for=""> Estado</label>
                    <select class="form-control comboBox" formControlName="idEstado">
                        <option value="0"> [ -- SELECCIONE -- ]</option>
                        <option [value]="item.Pub_Esta_Codigo" *ngFor="let item of estados">{{item.Pub_Esta_Nombre}}</option> 
                    </select>
                </div>

                <div class="col-md-3 text-center">
                    <br>
                    <button class="btn btn-primary " (click)="mostrarInformacion()" style="font-size: 13px;">  <i class="fas fa-search"> Mostrar</i> </button>
                </div>
            </div>
        </form>
        <hr>

        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight"> </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarCab">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important; text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col">NRO LIQUIDACION</th>
                        <th scope="col">PERIODO EVALUACION</th>
                        <th scope="col">FECHA REGISTRO</th>

                        <th scope="col">USUARIO GENERACION</th>
                        <th scope="col">CANTIDAD DOC.</th>
                        <th scope="col">Estado</th>

                        <th class="text-center">usuario aprobador 1</th>
                        <th class="text-center">fecha aprobacion 1</th>

                        <th class="text-center">usuario aprobador 2</th>
                        <th class="text-center">fecha aprobacion 2</th>

                        <th class="text-center">usuario devuelve</th>
                        <th class="text-center">fecha devolucion</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of liquidacionCajaCab |  filter: filtrarCab  ; index as j">
                        <th scope="row"> {{j + 1}} </th>
                        <td class="text-center">
                            <span class="badge badge-success puntero" style="padding: 5px;" (click)="abrirModal_liquidacion(item)">  {{item.nroLiquidacion}}   Ver Liq </span>
                        </td>
                        <td>{{item.periodoEvaluacion}} </td>
                        <td>{{item.fechaRegistro | date:"dd/MM/yyyy" }}</td>

                        <td>{{item.usuarioGeneracion}}</td>
                        <td>{{item.cantidadDoc}}</td>
                        <td>{{item.descripcionEstado}}</td>

                        <td>{{item.usuarioAprobador1}}</td>
                        <td>{{item.fechaAprobacion1}}</td>

                        <td>{{item.usuarioAprobador2}}</td>
                        <td>{{item.fechaAprobacion2}}</td>

                        <td>{{item.usuarioDevuelve}}</td>
                        <td>{{item.fechaDevolucion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



<div class="modal fade " id="modal_aprobacion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="p-3 card ">
                <div class="d-flex justify-content-between flotante">
                    <div class=" bd-highlight">
                        <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                    </div>
                    <div class=" bd-highlight">
                        <h5 class="headerTitleModal"> APROBACION DE FACTURAS </h5>
                    </div>
                    <div class=" bd-highlight">
                        <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                    </div>
                </div>
            </div>
            <div class="modal-body ">

                <fieldset class="shadow" style="margin-top: -15px; ">
                    <legend> DATOS DE LA LIQUIDACION </legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">

                            <div class="row" style="margin-top: -15px;">
                                <div class="col-md-3">
                                    <label> Evaluacion  </label>
                                    <input type="text" class="form-control disabledForm" [value]="objLiquidacionGlobal.id_LiquidacionCaja_Cab">
                                </div>
                                <div class="col-md-5">
                                    <label> Centro Costo </label>
                                    <input type="text" class="form-control disabledForm" [value]="objLiquidacionGlobal.centroCosto">
                                </div>
                                <div class="col-md-4">
                                    <label> Periodo Liquidacion </label>
                                    <input type="text" class="form-control disabledForm" [value]="objLiquidacionGlobal.periodoEvaluacion ">
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-md-12 text-center">
                                    <button class="btn  btn-sm  btn-success" title="Aprobar la Orden de Trabajo" (click)="aprobarDevolver(1)">
                                        <i class="fas fa-save"></i>  Aprobar
                                    </button>
                                    <button class="btn  btn-sm  btn-danger ml-2" title="Aprobar la Orden de Trabajo" (click)="aprobarDevolver(2)">
                                        <i class="fas fa-save"> </i> Devolver
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

                <div class=" table-responsive mt-2">
                    <table class="table table-hover table-sm">
                        <thead class="theadTable thead-dark ">
                            <tr style="background-color: white; color: black;">
                                <th colspan="6" style="background-color: white; color: black;">
                                    <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarDet">
                                </th>
                                <th class="text-right" style="background-color: white; color: black;"> TOTALES : </th>
                                <th class="text-right" style="background-color: white; color: black;">{{noAfectoGlobal}} </th>
                                <th class="text-right" style="background-color: white; color: black;">{{igvGlobal}} </th>
                                <th class="text-right" style="background-color: white; color: black;">{{percepcionesGlobal}} </th>
                                <th class="text-right" style="background-color: white; color: black;">{{otrosCargosGlobal}} </th>
                                <th class="text-right" style="background-color: white; color: black;">{{totalGlobal}} </th>
                                <th colspan="4" style="background-color: white; color: black;"> </th>
                            </tr>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th>TIPO DOC</th>
                                <th>SERIE </th>
                                <th>NUMERO </th>

                                <th>FECHA </th>
                                <th>RAZON SOCIAL - PROVEEDOR </th>
                                <th>CONCEPTO </th>

                                <th>NO AFECTO </th>
                                <th>IGV </th>
                                <th>PERCEPCIONES </th>
                                <th>OTROS CARGOS </th>
                                <th>TOTAL </th>
                                <th> ACCIONES </th>
                                <th> CTA GASTOS </th>
                                <th> CTA IGV </th>
                                <th> CTA X PAGAR </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of liquidacionesDet | filter : filtrarDet ; index as i">
                                <th scope="row"> {{i + 1}} </th>
                                <td>{{item.tipoDoc}}</td>
                                <td>{{item.serie}}</td>
                                <td>{{item.numero }}</td>

                                <td>{{item.fecha }}</td>
                                <td>{{item.razonSocial }}</td>
                                <td>{{item.concepto }}</td>

                                <td class="text-right">{{item.noAfecto }}</td>
                                <td class="text-right">{{item.igv }}</td>
                                <td class="text-right">{{item.percepciones }}</td>
                                <td class="text-right">{{item.otrosCargos }}</td>
                                <td class="text-right">{{item.total }}</td>
                                <td class="text-right">
                                    <span class="badge badge-primary puntero" style="padding: 5px;" (click)="abrirModal_cuentaContables(item)">  Agregar - Editar </span>
                                </td>
                                <td class="text-right">{{item.descripcionCtaGastos }}</td>
                                <td class="text-right">{{item.descripcionCtaIGV }}</td>
                                <td class="text-right">{{item.descripcionCtaxPagar }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr>


                <div class="row">
                    <div class="col-md-8">
                        <fieldset class="shadow mt-2">
                            <legend> DOCUMENTOS ADJUNTOS </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class=" table-responsive mt-2">
                                                <table class="table table-hover table-sm">
                                                    <thead class="theadTable thead-dark ">

                                                        <tr class="text-center">
                                                            <th scope="col">#</th>
                                                            <th>nombre</th>
                                                            <th>fecha registro </th>
                                                            <th>accion </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of liquidacionesArchivos ; index as i">
                                                            <th scope="row"> {{i + 1}} </th>
                                                            <td>{{item.nombre}}</td>
                                                            <td>{{item.fechaRegistro}}</td>
                                                            <td>
                                                                <a class="puntero linkOpcion" (click)=" eliminarArchivo_cajaChica(item) " title="quitar el registro"> Eliminar</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="shadow mt-2">
                            <legend style="width: 95%;"> EXPORTAR E IMPORTAR CUENTAS </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn  btn-sm btn-block  btn-primary" title="Exportar Liquidacion" (click)="exportar_formatoLiquidacion()">
                                                <i class="fas fa-file-download"></i>  Exportar Liquidacion
                                            </button>
                                        </div>
                                    </div>

                                    <form [formGroup]="formParamsFile">
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="botonFile">
                                                    <input type="file" class="form-control-file btn" formControlName="file" (change)="onFileChange($event)" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-sm btn-success" (click)="subirArchivo()">  <i class="fas fa-cloud-upload-alt"> Actualizar </i> </button>
                                            <button class="btn btn-sm btn-warning ml-2" (click)="blank_file()">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>




<div class="modal fade " id="modal_cuentasContables" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content" style="border: solid red;">
            <div class="p-3 card ">
                <div class="d-flex justify-content-between flotante">
                    <div class=" bd-highlight">
                        <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_cuentaContables()">  </i>
                    </div>
                    <div class=" bd-highlight">
                        <h5 class="headerTitleModal"> CUENTAS CONTABLES </h5>
                    </div>
                    <div class=" bd-highlight">
                        <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_cuentaContables()">  </i>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <fieldset class="shadow">
                    <legend style="width: 95%;"> REGISTRO DE CUENTAS CONTABLES </legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">

                            <form [formGroup]="formParamsContabilidad">
                                <!-- <div class="row" style="margin-top: -15px;">
                                    <div class="col-md-4">
                                        <label> Importe Asignado </label>
                                        <input type="text" (keypress)="keyPress($event)" class="form-control " formControlName='importeDocumento'>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Glosa </label>
                                        <input type="text" class="form-control  " formControlName='Glosa'>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Cuenta Gastos </label>
                                        <select class="form-control comboBox" formControlName="CtaGastos">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.idCuenta" *ngFor="let item of cuentaContableGastos">{{item.descripcionCuenta}}</option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Cuenta IGV </label>
                                        <select class="form-control comboBox" formControlName="CtaIGV">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.Id_GrupoDetalle" *ngFor="let item of cuentaContableIGV">{{item.codigo_detalleTabla}}</option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Cuenta Pagar </label>
                                        <select class="form-control comboBox" formControlName="CtaxPagar">
                                            <option value="0"> [ -- SELECCIONE -- ]</option>
                                            <option [value]="item.Id_GrupoDetalle" *ngFor="let item of cuentaContablePagar">{{item.codigo_detalleTabla}}</option> 
                                        </select>
                                    </div>
                                </div>

                            </form>

                            <div class="row">
                                <div class="col-md-12 text-center mt-2">
                                    <button class="btn btn-sm btn-success" (click)="almacenarCuentasContables_cajaChica()">  <i class="fas fa-save"> Grabar</i> </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>
    </div>

</div>



<div class="modal fade " id="modal_devolucion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content" style="border: solid red;">
            <div class="p-3 card ">
                <div class="d-flex justify-content-between flotante">
                    <div class=" bd-highlight">
                        <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_devolucion()">  </i>
                    </div>
                    <div class=" bd-highlight">
                        <h5 class="headerTitleModal"> DEVOLUCIONES </h5>
                    </div>
                    <div class=" bd-highlight">
                        <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_devolucion()">  </i>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <fieldset class="shadow">
                    <legend style="width: 95%;"> Ingresar Motivo </legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">

 
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control  " [(ngModel)]="motivoDevolucion">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 text-center mt-2">
                                    <button class="btn btn-sm btn-success" (click)="SaveDevolver()">  <i class="fas fa-save"> Grabar</i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>
    </div>

</div>


